body{
    background-color: lightgray;
    font-family: sans-serif
}
.parsa{
    box-sizing: border-box;
    margin: auto;
    width: 500px;
    height: 400px;
    background-color: #fff;
    margin-top: 80px;
    padding-top: 25px;
    border-radius: 10px;
    
    
}
.photo{
    display: block;
    margin: auto;
    border-style: dotted;
    border-radius: 8px;   
     
}
.name{
    text-align: center;
    border-bottom: 4px solid #4287f5;
    width: 200;
    margin: auto;
    color: #f57e42;
    padding-top: 10px;
    
}
.text{
    text-align: center;
    color: #f54242
}
.social{
    height: 60px;
    background-color: lightgray;
    text-align: center;
}
.social img{
    width: 50px;
    margin: 7px;
}
.telegram{
    border-radius: 50%;
}